.leaderboard_card_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card_text {
  display: flex;
  color: #eeeeee;
  font-size: 20px;
  font-weight: 600;
  width: 120px;
  overflow: hidden;
  margin-left: 15px;
}

.rank_text {
  display: flex;
  color: #eeeeee;
  font-size: 20px;
  width: 20px;
  margin-left: 15px;
  font-weight: 600;
}

#user_card {
  display: flex;
  height: 8vh;
  width: 80%;
  /* justify-content: space-around; */
  border-radius: 25px;
  border-color: #eeeeee;
  border-style: inset;
  border-width: 6px;
  margin-top: 20px;
  background-color: #393e46;
  align-items: center;
}

#pfp {
  height: 80%;
  min-width: 15%;
  width: 51px;
  margin-left: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

.rank {
  color: white;
  width: 100px;
  margin-left: 15px;
}

.rank_img {
  width: 70px;
  margin-bottom: 6px;
}