#message_body_container{
  display: flex;
  width:100%
}

#message_content{
  display: flex;
  flex-direction: column;
  margin-top: 1px;;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  z-index: 5;
  padding:10px;
  width :60%
}

#second_header{
  display: flex;
  justify-content: space-between;
}

#content{
  height:65%;
  padding-top: 10px;
}

#reply{
  background-color: #232931;
  align-self: flex-end;
}