.profile_info_container {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#button_container{
  display: flex;
}

#update_profile{
  left: 3%;
  align-self: flex-start;
  display: flex;
  background-color: #232931;
}

#add_friend{
  left : 3%;
  align-self: flex-start;
  display: flex;
  background-color: #232931;
}