.match_history_container {
  color: white;
  width: 66%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #232931;
  margin-top: 15px;
  margin-right: 15px;
  border-radius: 25px;
  border-color: #eeeeee;
  border-style: inset;
  border-width: 10px;
}

.match_carousel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}