.match_history_container {
  color: white;
  max-width: 45%;
  min-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #232931;
  margin-top: 30px;
  margin-left: 15px;
  border-radius: 25px;
  border-color: #eeeeee;
  border-style: inset;
  border-width: 10px;
  height: 100%;
}

.match_carousel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.match_title {
  display: flex;
  justify-content: center;
  color: #4ecca3;
  font-size: 32px;
}