.dropdown_btn {
  color: white;
}

.dropdown_btn_container {
  display: flex;
  width: 10vw;
}

.link_text {
  color: #393e46;
}

.hamburg {
  width: 30%;
  margin-right: 15%;
}

@media (max-width: 600px) {
  .hamburg {
    width: 50%;
  }
}