#friend_card{
  display: flex;
  flex-direction: column;
  width:100px;
  justify-content: center;
}

#friend_link{
  text-align: center;
  color: #eeeeee;
  height: 64px;
}

#friend_link:link {
  text-decoration: none;
}

#pfp{
  width:48px;
  height:48px;
  object-fit: scale-down;
  background-size:contain;
  align-self: center;
  background-repeat: no-repeat;
}