.select_match_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75vw;
}

@media (max-width: 600px) {
  .select_match_container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100vw;
    height: 50vh;
    margin-top: 5%;
  }
}