.avatar_select_form_container {
  text-align: center;
  background-color:#232931;
  display: flex;
  flex-direction: column;
  z-index:5;
  width:330px;
  height:210px;
  position: absolute;
  top: 45%;
  left: 30%;
  border-radius: 25px;
  border-color: #eeeeee;
  border-style: inset;
  border-width: 10px;
}

.avatar_button{
  width:65px;
  height:65px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #232931;
}

.pfp{
  width:60px;
  height:60px;
}

h4{
  height: 5px;
}